<!DOCTYPE html>
<html lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Digi4Docu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" th:href="@{~/css/main.css}">
    <div th:replace="fragments/favicon"></div>
</head>

<body>
<div class="container public-page d-flex my-5">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-6 col-xl-5 col-xxl-4">
            <div class="wrap">
                <div class="w-100">
                    <img class="img-fluid" th:src="@{~/img/main-title.jpg}"/>
                </div>
                <div class="p-4 position-relative">
                    <div layout:fragment="content"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>