<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{security/layout}">
<head>
    <title>Passwort zurücksetzen</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex">
        <div class="w-100">
            <h3>Passwort zurücksetzen</h3>
        </div>
    </div>

    <div class="text-success" th:if="${success}">
        Dein Passwort wurde geändert. Du kannst dich jetzt anmelden.
        <div class="d-block mt-3">
            <a th:href="@{/login}" class="btn btn-primary">Zum Login</a>
        </div>
    </div>

    <form class="mt-4" th:action="@{'/new-password/' + ${hash}}" method="post" th:object="${newPasswordForm}" novalidate>
        <div class="alert alert-danger mb-3" th:if="${error}">[[${error}]]</div>
        <div class="alert alert-danger mb-3" th:if="${#fields.hasErrors('global')}">
            <span th:each="err : ${#fields.errors('global')}" th:text="${err}"/>
        </div>
        <div th:if="${null == success and null == error}">
            <div class="row">
                <div class="col-12">
                    <label for="newPassword" class="form-label">Neues Passwort</label>
                    <input type="password" maxlength="255" th:field="*{newPassword}"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('newPassword') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
                           id="newPassword" name="newPassword" autocomplete="new-password"/>
                    <div class="invalid-feedback mb-3" th:if="${#fields.hasErrors('newPassword')}"
                         th:errors="*{newPassword}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="repeatPassword" class="form-label">Passwort wiederholen</label>
                    <input type="password" maxlength="255" th:field="*{repeatPassword}"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('repeatPassword') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
                           id="repeatPassword" name="repeatPassword" autocomplete="new-password"/>
                    <div class="invalid-feedback mb-3" th:if="${#fields.hasErrors('repeatPassword')}"
                         th:errors="*{repeatPassword}"></div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <button type="submit" class="btn btn-success text-white">
                        <i class="bi bi-check"></i>
                        Passwort ändern
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group d-flex mt-3">
            <div class="w-50 text-start">
            </div>
            <div class="w-50 text-end">
                <a th:href="@{/login}">Zurück zum Login</a>
            </div>
        </div>
    </form>
</div>

</body>
</html>