<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{security/layout}">
<head>
    <title>Passwort zurücksetzen</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex">
        <div class="w-100">
            <h3>Passwort zurücksetzen</h3>
        </div>
    </div>

    <div class="text-success" th:if="${success}">
        Wir haben dir eine E-Mail gesendet. Öffne den Link in der E-Mail, um dein Passwort zurückzusetzen.
    </div>

    <form class="mt-4" th:action="@{/reset-password}" method="post" th:object="${passwordForgottenForm}" novalidate>
        <div class="alert alert-danger mb-3" th:if="${error}">[[${error}]]</div>
        <div class="alert alert-danger mb-3" th:if="${#fields.hasErrors('global')}">
            <span th:each="err : ${#fields.errors('global')}" th:text="${err}"/>
        </div>
        <div th:unless="${success}">
            <div class="form-group">
                <label class="form-control-placeholder" for="email">E-Mail</label>
                <input type="email"
                       th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
                       class="form-control" name="email">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                    Passwort zurücksetzen
                </button>
            </div>
        </div>
        <div class="form-group d-flex mt-3">
            <div class="w-50 text-start">
            </div>
            <div class="w-50 text-end">
                <a th:href="@{/login}">Zurück zum Login</a>
            </div>
        </div>
    </form>
</div>

</body>
</html>