<!DOCTYPE html>
<html lang="de"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Mein Passwort ändern</title>
</head>
<body>
<div layout:fragment="title">Mein Passwort ändern</div>
<div layout:fragment="content">
    <form th:action="@{/profile/password}" method="post" th:object="${changePasswordForm}" class="mt-4 border-top pt-4">

        <div class="alert alert-danger mb-3" th:if="${error}">[[${error}]]</div>
        <div class="alert alert-danger mb-3" th:if="${#fields.hasErrors('global')}">
            <span th:each="err : ${#fields.errors('global')}" th:text="${err}"/>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="oldPassword" class="form-label">Bisheriges Passwort</label>
                <input type="password" maxlength="255" th:field="*{oldPassword}"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('oldPassword') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
                       id="oldPassword"
                       name="oldPassword" autocomplete="old-password"/>
                <div class="invalid-feedback mb-3" th:if="${#fields.hasErrors('oldPassword')}"
                     th:errors="*{oldPassword}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="newPassword" class="form-label">Neues Passwort</label>
                <input type="password" maxlength="255" th:field="*{newPassword}"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('newPassword') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
                       id="newPassword"
                       name="newPassword" autocomplete="new-password"/>
                <div class="invalid-feedback mb-3" th:if="${#fields.hasErrors('newPassword')}"
                     th:errors="*{newPassword}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="repeatPassword" class="form-label">Passwort wiederholen</label>
                <input type="password" maxlength="255" th:field="*{repeatPassword}"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('repeatPassword') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
                       id="repeatPassword"
                       name="repeatPassword" autocomplete="new-password"/>
                <div class="invalid-feedback mb-3" th:if="${#fields.hasErrors('repeatPassword')}"
                     th:errors="*{repeatPassword}"></div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <button type="submit" class="btn btn-success text-white">
                    <i class="bi bi-check"></i>
                    Speichern
                </button>
                <a class="btn btn-secondary" th:href="@{/profile}">
                    <i class="bi bi-person-square"></i>
                    Zurück zum Profil
                </a>
            </div>
        </div>
    </form>
</div>
</body>