<!DOCTYPE html>
<html lang="de"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout}">
<head>
    <title>Neue Text-Vorlage</title>
</head>
<body>
<div layout:fragment="title">Neue Text-Vorlage</div>
<div layout:fragment="content">
    <form th:action="@{/template}" method="post" th:object="${textTemplateForm}" class="mt-4 border-top pt-4"
          novalidate>
        <div th:insert="templates/template-form"></div>

        <div class="row mt-4">
            <div class="col-12">
                <button type="submit" class="btn btn-success text-white">
                    <i class="bi bi-text-paragraph"></i>
                    Vorlage anlegen
                </button>
                <a th:href="@{/templates}" class="btn btn-secondary ms-2">
                    <i class="bi bi-table"></i>
                    Zurück zur Liste
                </a>
            </div>
        </div>
    </form>
</div>
</body>
</html>