<!DOCTYPE html>
<html lang="de"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout}">
<head>
    <title>Kurs bearbeiten</title>
    <script th:src="@{~/js/iconpicker/icon-picker.min.js}" type="text/javascript"></script>
    <script th:src="@{~/js/iconpicker.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{~/css/iconpicker/bootstrap-5.min.css}">

    <script th:src="@{~/js/tinymce/tinymce.min.js}" type="text/javascript"></script>
    <script th:src="@{~/js/tinymce/plugins/emoticons/plugin.min.js}" type="text/javascript"></script>
    <script th:src="@{~/js/tinymce/plugins/image/plugin.min.js}" type="text/javascript"></script>
    <script th:src="@{~/js/tinymce/plugins/link/plugin.min.js}" type="text/javascript"></script>
    <script th:src="@{~/js/tinymce/plugins/lists/plugin.min.js}" type="text/javascript"></script>
    <script th:src="@{~/js/tinymce/plugins/media/plugin.min.js}" type="text/javascript"></script>
    <script th:src="@{~/js/tinymce/plugins/table/plugin.min.js}" type="text/javascript"></script>
    <script th:src="@{~/js/wysiwig.js}" type="text/javascript"></script>
</head>
<body>
<div layout:fragment="title" class="mb-3">Kurs: [[${course.title}]]</div>

<div layout:fragment="content">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-edit-tab" data-bs-toggle="tab" data-bs-target="#nav-edit"
                    type="button" role="tab" aria-controls="nav-edit" aria-selected="true">
                <i class="bi bi-pencil-fill me-1"></i> Kurs bearbeiten
            </button>
            <button th:onclick="'window.location.href = \'' + @{'/course/' + ${course.id} + '/modules'} + '\''"
                    class="nav-link" id="nav-modules-tab" data-bs-toggle="tab" data-bs-target="#nav-modules"
                    type="button" role="tab" aria-controls="nav-modules" aria-selected="false">
                <i class="bi bi-grid-3x3-gap-fill me-1"></i> Module
            </button>
        </div>
    </nav>
    <div class="tab-content p-3 border border-top-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-edit" role="tabpanel" aria-labelledby="nav-edit-tab">
            <form th:action="@{'/course/' + ${course.id}}" method="post" th:object="${courseForm}" novalidate>
                <input type="hidden" th:field="*{id}" name="id"/>

                <div th:insert="course/course-form"></div>

                <div class="row mt-4">
                    <div class="col-12">
                        <button type="submit" class="btn btn-success text-white">
                            <i class="bi bi-check me-1"></i>
                            Speichern
                        </button>
                        <a th:href="@{/courses}" class="btn btn-secondary ms-2">
                            <i class="bi bi-table me-1"></i>
                            Zurück zur Liste
                        </a>
                        <a th:href="@{'/course/confirm-delete/' + ${course.id}}" class="btn btn-danger ms-2">
                            <i class="bi bi-trash-fill me-1"></i>
                            Löschen
                        </a>
                        <a th:href="@{'/public/course/' + ${course.id}}" class="btn btn-outline-secondary ms-2"
                           target="_blank">
                            <i class="bi bi-eye-fill me-1"></i>
                            Vorschau
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>