<!DOCTYPE html>
<html lang="de">
<body>
<div class="alert alert-success mb-3" th:if="${success}">Daten erfolgreich gespeichert.</div>
<div class="alert alert-danger mb-3" th:if="${error}">[[${error}]]</div>
<div class="alert alert-danger mb-3" th:if="${#fields.hasErrors('global')}">
    <span th:each="err : ${#fields.errors('global')}" th:text="${err}"/>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <label for="title" class="form-label">Titel</label>
        <input type="text" maxlength="255" th:field="*{title}" class="form-control"
               th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
               id="title"
               name="title"/>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <label for="subTitle" class="form-label">Untertitel</label>
        <input type="text" maxlength="255" th:field="*{subTitle}" class="form-control"
               th:classappend="${#fields.hasErrors('subTitle') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
               id="subTitle" name="subTitle"/>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('subTitle')}" th:errors="*{subTitle}"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <label for="externalImage" class="form-label">Externe Bild-URL</label>
        <div th:replace="fragments/license-hint"></div>
        <input type="text" maxlength="255" th:field="*{externalImage}" class="form-control"
               th:classappend="${#fields.hasErrors('externalImage') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
               id="externalImage" name="externalImage"/>
        <div class="d-block text-muted small">Die externe Bild-URL ist optional und wird auf der Startseite des
            Zertifikats ausgegeben. <br/>
        </div>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('externalImage')}" th:errors="*{externalImage}"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3 pe-md-3">
        <label for="icon" class="form-label">Icon</label>
        <input type="text" maxlength="255" th:field="*{icon}" class="form-control icon-picker"
               th:classappend="${#fields.hasErrors('icon') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
               id="icon" name="icon" autocomplete="off"/>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('icon')}" th:errors="*{icon}"></div>
    </div>
    <div class="col-md-6 ps-md-3">
        <label class="mb-2">Status</label>
        <div class="d-block">
            <input type="checkbox"
                   th:classappend="${#fields.hasErrors('isActive') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
                   id="isActive"
                   name="isActive"
                   th:field="*{isActive}"
                   class="form-check-input"
                   checked="checked"
            />
            <label for="isActive" class="form-check-label">aktiv</label>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('isActive')}" th:errors="*{isActive}"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <label for="color" class="form-label">Farbe</label>
        <div class="input-group">
            <input type="text" maxlength="255" th:field="*{color}" class="form-control"
                   th:classappend="${#fields.hasErrors('color') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
                   id="color" name="color" readonly="readonly"/>
            <button class="btn btn-outline-secondary color-picker-delete" type="button">
                <i class="bi bi-trash-fill"></i>
            <button class="btn btn-outline-primary color-picker" type="button">
                <i class="bi bi-palette-fill"></i>
            </button>
        </div>
        <div class="d-block text-muted small">Die Farbe ist optional. Wird eine Farbe ausgewählt, so wird diese für den
            Badge des Kurses verwendet. Wird keine Farbe angegeben, wird der Badge automatisch in grün dargestellt.<br/>
        </div>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <label for="description" class="form-label">Beschreibung</label>
        <textarea th:field="*{description}" class="form-control wysiwyg-editor"
                  th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : (#fields.hasAnyErrors() ? 'is-valid' : '')}"
                  id="description"
                  name="description"></textarea>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    </div>
</div>
</body>