<!DOCTYPE html>
<html lang="de"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout}">
<body>
<head>
    <title>Kurs-Übersicht</title>
</head>
<body>
<div layout:fragment="title">Übersicht [[${course.title}]]</div>

<div layout:fragment="content">
    <div class="row text-end mb-3">
        <div class="col-12">
            <button type="button" class="btn btn-sm btn-light border mb-2 me-2 mb-md-0 datatables-filter-reset">
                <i class="bi bi-reply"></i>
                Filter zurücksetzen
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover datatables border mt-2 mb-1" id="courseList">
            <thead>
            <tr th:if="${!modules.empty}">
                <th rowspan="3" class="align-text-top border-end sticky-column">Schüler/in</th>
                <th colspan="7" class="border-end" th:each="module : ${modules}">[[${module.title}]]</th>
            </tr>
            <tr th:if="${!modules.empty}">
                <th:block th:each="module : ${modules}">
                    <th colspan="2"><span class="badge bg-warning">abgegeben</span></th>
                    <th colspan="2"><span class="badge bg-danger">zurückgegeben</span></th>
                    <th colspan="2"><span class="badge bg-success">erledigt</span></th>
                    <th rowspan="2" class="text-nowrap fw-normal align-text-top border-start border-end">Aufgaben</th>
                </th:block>
            </tr>
            <tr th:if="${!modules.empty}">
                <th:block th:each="module : ${modules}">
                    <th class="fw-normal">Anz.</th>
                    <th class="fw-normal">%</th>
                    <th class="fw-normal">Anz.</th>
                    <th class="fw-normal">%</th>
                    <th class="fw-normal">Anz.</th>
                    <th class="fw-normal">%</th>
                </th:block>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users.empty}">
                <td colspan="1"> An diesem Kurs hat bisher keine Person teilgenommen.</td>
            </tr>
            <tr th:each="user: ${users}">
                <td class="text-nowrap border-end sticky-column"><a th:href="@{'/user/' + ${user.key}}">[[${user.value}]]</a></td>
                <th:block th:each="module : ${modules}">
                    <th:block
                            th:if="${null eq overviewMap.get(user.key) or null eq overviewMap.get(user.key).get(module.id)}">
                        <td class="text-end">0</td>
                        <td class="text-start fst-italic">(0 %)</td>
                        <td class="text-end">0</td>
                        <td class="text-start fst-italic">(0 %)</td>
                        <td class="text-end">0</td>
                        <td class="text-start fst-italic">(0 %)</td>
                    </th:block>
                    <th:block
                            th:unless="${null eq overviewMap.get(user.key) or null eq overviewMap.get(user.key).get(module.id)}">
                        <td class="text-end">
                            [[${overviewMap.get(user.key).get(module.id).countTasksTransmitted}]]
                        </td>
                        <td class="text-start fst-italic" th:if="${module.tasks.size() gt 0}">
                            ([[${#numbers.formatPercent((overviewMap.get(user.key).get(module.id).countTasksTransmitted
                            *
                            1.0/module.tasks.size()), 1, 0)}]])
                        </td>
                        <td class="text-start fst-italic" th:unless="${module.tasks.size() gt 0}">(0 %)</td>

                        <td class="text-end">[[${overviewMap.get(user.key).get(module.id).countTasksRejected}]]</td>
                        <td class="text-start fst-italic" th:if="${module.tasks.size() gt 0}">
                            ([[${#numbers.formatPercent((overviewMap.get(user.key).get(module.id).countTasksRejected *
                            1.0/module.tasks.size()), 1, 0)}]])
                        </td>
                        <td class="text-start fst-italic" th:unless="${module.tasks.size() gt 0}">(0 %)</td>

                        <td class="text-end">[[${overviewMap.get(user.key).get(module.id).countTasksDone}]]</td>
                        <td class="text-start fst-italic" th:if="${module.tasks.size() gt 0}">
                            ([[${#numbers.formatPercent((overviewMap.get(user.key).get(module.id).countTasksDone *
                            1.0/module.tasks.size()), 1, 0)}]])
                        </td>
                        <td class="text-start fst-italic" th:unless="${module.tasks.size() gt 0}">(0 %)</td>
                    </th:block>
                    <td class="border-end text-center"> [[${module.tasks.size()}]]</td>
                </th:block>
            </tr>

            </tbody>
            <tfoot th:if="${!users.empty}">
            <tr th:if="${!modules.empty}">
                <th class="sticky-column border-end">Schüler/in</th>
                <th:block th:each="module : ${modules}">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </th:block>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>