<!DOCTYPE html>
<html lang="de"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout}">
<head>
    <title>Modul: [[${module.title}]]</title>
</head>
<body>
<div layout:fragment="title-image">
    <div th:replace="public/title-image(title=${course.title}, subTitle=${module.title}, icon=${module.icon}, progressMax=${#lists.size(tasks)}, progressCurrent=${userTasksDone})"></div>
</div>
<div layout:fragment="content">
    <div th:if="${!tasks.empty}" th:classappend="${childModules.empty ? '' : 'mb-4 pb-4 border-bottom'}">
        <div class="row">
            <div class="col-12 text-center">
                Um dieses Modul abzuschließen, musst du
                <span class="text-danger d-inline">[[ ${ #lists.size(tasks) == 1 ? '1 Aufgabe' : #lists.size(tasks) + ' Aufgaben' } ]]</span>
                beenden. Du hast bisher <span class="text-success d-inline">[[ ${ userTasksDone == 1 ? '1 Aufgabe' : userTasksDone + ' Aufgaben' } ]]</span>
                geschafft.</span>
            </div>
        </div>
        <div th:each="task, taskStat: ${tasks}" class="row">
            <div th:replace="public/task-box"></div>
        </div>
    </div>
    <div class="row">
        <div th:each="module, itStat: ${childModules}" class="col-md-6 col-lg-4 col-xxl-3">
            <div th:replace="public/module-box"></div>
        </div>
    </div>
</div>
</body>