<!DOCTYPE html>
<html lang="de">
<body>
<div class="d-flex flex-row justify-content-center bg-primary bg-gradient text-white p-3">
    <div class="pie position-relative me-3" th:if="${null != progressPercentage}" th:data-pie="${'{
        &quot;textPosition&quot;: &quot;1.5em&quot;,
         &quot;animationSmooth&quot;: &quot;.5s ease-out&quot;,
         &quot;percent&quot;: ' + progressPercentage + ',
         &quot;colorSlice&quot;: &quot;#' + (progressPercentage < 66 ? (progressPercentage < 33 ? 'e2001a' : 'f49c00') : '68b022') + '&quot;,
         &quot;colorCircle&quot;: &quot;#f1f1f1&quot;,
         &quot;fontSize&quot;: &quot;1em&quot;,
         &quot;fontColor&quot;: &quot;#ffffff&quot;,
         &quot;size&quot;: &quot;120&quot;,
         &quot;strokeBottom&quot;: 8,
         &quot;round&quot;:true
    }'}">
        <div class="title-icon">
            <i th:if="${!#strings.isEmpty(icon)}" th:class="${icon}"></i>
            <i th:if="${#strings.isEmpty(icon)}" class="bi bi-emoji-smile"></i>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center" th:classappend="${null != progressPercentage ? 'text-start' : 'text-center'}">
        <h1 th:if="${!#strings.isEmpty(title)}">[[ ${title} ]]</h1>
        <h6 th:if="${!#strings.isEmpty(minorTitle)}" class="mb-4">[[ ${minorTitle} ]]</h6>
        <h3 th:if="${!#strings.isEmpty(subTitle)}">[[ ${subTitle} ]]</h3>
    </div>
</div>
</body>
</html>