<!DOCTYPE html>
<html lang="de"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout}">
<head>
    <title>Benutzer löschen</title>
</head>
<body>
<div layout:fragment="title">Benutzer löschen</div>

<div layout:fragment="content">
    <div class="alert alert-danger">
        Möchtest du den Benutzer "[[${user.firstname}]] [[${user.lastname}]]" löschen? Wenn der Benutzer
        gelöscht wird, werden alle im System hinterlegten Daten entfernt. Das kann nicht mehr rückgängig gemacht werden.
    </div>
    <a th:href="@{'/user/delete/' + ${user.id}}" class="btn btn-danger ms-2">Löschen</a>
    <a th:href="@{'/user/' + ${user.id}}" class="btn btn-secondary ms-2">Abbrechen</a>
</div>
</body>
</html>