<!DOCTYPE html>
<html lang="de"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{./layout}">
<head>
    <title>Benutzer bearbeiten</title>
</head>
<body>
<div layout:fragment="title">Benutzer bearbeiten</div>

<div layout:fragment="content">
    <form th:action="@{'/user/' + ${user.id}}" method="post" th:object="${userEditForm}" class="mt-4 border-top pt-4"
          autocomplete="off" novalidate>
        <input type="hidden" th:field="*{id}" name="id"/>

        <div th:insert="user/user-form(showPasswordHint=true)"></div>

        <fieldset class="border rounded p-3 mt-4" th:if="${isStudent}" sec:authorize="hasAuthority('ADMIN')">
            <legend>Aktive Kurse</legend>
            <div class="row" th:unless="${#lists.size(courses) > 0}">
                <div class="col-12">
                    <div class="alert alert-info">Der/die Schüler*in hat noch keinen Kurs begonnen.</div>
                </div>
            </div>
            <div class="row" th:if="${#lists.size(courses) > 0}">
                <div class="col-12">
                    <table class="table table-striped table-hover table-sm border mt-2 mb-1">
                        <thead>
                        <tr>
                            <th>Kurs</th>
                            <th>Anzahl Kurseinheiten</th>
                            <th data-sortable="false"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="course: ${courses}">
                            <td><i th:classappend="${course.icon}" class="me-3"></i>[[${course.title}]]</td>
                            <td>[[ ${#lists.size(course.modules) }]]</td>
                            <td class="text-end">
                                <a th:href="@{'/public/certificate/' + ${course.id} + '/' + ${user.id}}"
                                   class="btn btn-secondary">
                                    <i class="bi bi-award-fill"></i>
                                    Zertifikat öffnen
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
        <div class="row mt-4">
            <div class="col-12">
                <button type="submit" class="btn btn-success text-white">
                    <i class="bi bi-check"></i>
                    Speichern
                </button>
                <a th:href="@{/users}" class="btn btn-secondary ms-2">
                    <i class="bi bi-table"></i>
                    Zurück zur Liste
                </a>
                <a th:href="@{'/user/confirm-delete/' + ${user.id}}" class="btn btn-danger ms-2">
                    <i class="bi bi-trash-fill"></i>
                    Löschen
                </a>
            </div>
        </div>
    </form>
</div>
</body>
</html>