<!DOCTYPE html>
<html lang="de"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout}">
<head>
    <title>Benutzerverwaltung</title>
</head>
<body>
<div layout:fragment="title">Benutzerverwaltung</div>
<div layout:fragment="content">
    <div class="row text-end mb-3">
        <div class="col-12">
            <a th:href="@{/user}" class="btn btn-primary">
                <i class="bi bi-person-plus-fill"></i>
                Neuer Benutzer
            </a>
        </div>
    </div>

    <table class="table table-striped table-hover simple-datatables border mt-2 mb-1" id="userList">
        <thead>
        <tr>
            <th>Name</th>
            <th>Rolle</th>
            <th>Jahrgang</th>
            <th>Klasse</th>
            <th>Status</th>
            <th data-sortable="false"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="6"> Keine Benutzer gefunden</td>
        </tr>
        <tr th:each="user : ${users}">
            <td>[[${user.fullname}]]</td>
            <td>
                <span th:each="userRole: ${user.roles}" th:text="${userRole.role.displayValue}"
                      class="badge me-1"
                      th:classappend="${userRole.role.displayValue == 'Administrator' ? 'bg-primary' : (userRole.role.displayValue == 'Lehrkraft' ? 'bg-info' : 'bg-secondary')}"
                ></span>
            </td>
            <td>[[${user.classYear}]]</td>
            <td>[[${user.classIdentifier}]]</td>
            <td>
                <span th:if="${user.isActive}" class="badge bg-success">aktiv</span>
                <span th:unless="${user.isActive}" class="badge bg-danger">inaktiv</span>
            </td>
            <td class="text-end">
                <a th:href="@{'/user/' + ${user.id}}" class="btn btn-outline-primary">
                    Bearbeiten
                </a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>