<!DOCTYPE html>
<html lang="de"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<head>
    <title>Meine Aufgaben</title>
</head>
<body>
<div layout:fragment="title" class="mb-3">
    <div th:if="${showAll and !showDone}">Alle offenen Aufgaben</div>
    <div th:if="${showAll and showDone}">Alle erledigten Aufgaben</div>
    <div th:if="${!showAll and showDone}">Meine erledigten Aufgaben</div>
    <div th:if="${!showAll and !showDone}">Meine Aufgaben</div>
</div>

<div layout:fragment="content">
    <form th:action="@{'/tasks/edit'}"
          method="post" th:object="${tasksReviewMultipleForm}" novalidate>
        <div class="row mb-4">
            <div class="col-6" th:with="taskSize=${tasks.empty ? 0 : #lists.size(tasks)}">
                Du hast [[${taskSize}]] Aufgaben in deinem Postfach.
            </div>
            <div class="col-6 text-end">
                <a th:href="@{/tasks/edit}" class="btn btn-sm btn-secondary mb-2 mb-md-0"
                   th:if="${true != editTasks and !showDone and !showAll and !tasks.empty}">
                    <i class="bi bi-check-all"></i>
                    Mehrere bearbeiten
                </a>
                <button type="submit" class="btn btn-sm btn-success text-white me-2 mb-2 mb-md-0"
                        th:if="${true == editTasks}">
                    <i class="bi bi-check-all"></i>
                    Auswahl als erledigt markieren
                </button>
                <a th:href="@{/tasks}" class="btn btn-sm btn-secondary mb-2 mb-md-0" th:if="${true == editTasks}">
                    <i class="bi bi-x-circle-fill"></i>
                    Bearbeitungsmodus schließen
                </a>
            </div>
        </div>
        <th:block class="table-responsive">
            <table class="table table-striped table-hover datatables border mt-2 mb-1" id="taskList">
                <thead>
                <tr>
                    <th>Modul</th>
                    <th>Titel / Lernziel</th>
                    <th>Eingereicht am</th>
                    <th>Schülerin/Schüler</th>
                    <th>Jahrgang</th>
                    <th>Klasse</th>
                    <th th:if="${showAll}">Lehrkraft</th>
                    <th th:if="${showAll or showDone}">Status</th>
                    <th data-sortable="false">
                        <button class="btn btn-sm btn-secondary" type="button" th:if="${true == editTasks}"
                                id="toogleCheckboxes" title="Auswahl umkehren">
                            <i class="bi bi-check2-square"></i>
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${tasks.empty}">
                    <td th:if="${showDone}" th:colspan="${showAll ? '9' : '7'}">Keine Aufgaben gefunden.</td>
                    <td th:unless="${showDone}" th:colspan="${showAll ? '9' : (showDone ? '8' : '7')}">
                        Alle Aufgaben erledigt - hier gibt es im Moment nichts zu tun.
                    </td>
                </tr>
                <tr th:each="task : ${tasks}">
                    <td>[[${task.moduleTitle}]]</td>
                    <td>[[${task.title}]]</td>
                    <td>
                        <th:block th:if="${null != task.transmittedAt}">
                            [[ ${#temporals.format(task.transmittedAt, 'dd.MM.yyyy')} ]]
                            [[ ${#temporals.format(task.transmittedAt, 'HH:mm')} ]] Uhr
                        </th:block>
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN') or hasAuthority('USERS')">
                        <a th:href="@{'/user/' + ${task.userId}}">[[${task.userName}]]</a>
                    </td>
                    <td sec:authorize="!hasAuthority('ADMIN') and !hasAuthority('USERS')">
                        [[${task.userName}]]
                    </td>
                    <td>[[${task.classYear}]]</td>
                    <td>[[${task.classIdentifier}]]</td>
                    <td th:if="${showAll}">[[${task.teacherName}]]</td>
                    <td th:if="${showAll or showDone}">
                        <span th:replace="fragments/taskStatusByStatus(userTaskStatus=${task.userTaskStatus})"></span>
                    </td>
                    <td class="text-center">
                        <a th:href="@{'/tasks/task/' + ${task.userTaskId}}"
                           class="btn btn-outline-primary text-nowrap" th:unless="${true == editTasks}">
                            <span th:if="${!showDone}"><i class="bi bi-pencil-fill me-1"></i>Bearbeiten</span>
                            <span th:if="${showDone}"><i class="bi bi-eye-fill me-1"></i>Ansehen</span>
                        </a>
                        <input th:if="${true == editTasks}" type="checkbox" th:value="${task.userTaskId}"
                               th:field="*{userTaskIds}" name="userTaskIds"/>
                    </td>
                </tr>

                </tbody>
                <tfoot>
                <tr th:if="${!tasks.empty}">
                    <th>Modul</th>
                    <th>Titel / Lernziel</th>
                    <th>Eingereicht am</th>
                    <th>Schülerin/Schüler</th>
                    <th>Jahrgang</th>
                    <th>Klasse</th>
                    <th th:if="${showAll}">Lehrkraft</th>
                    <th th:if="${showAll or showDone}">Status</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
</div>
</form>
</div>
</body>