<!DOCTYPE html>
<html lang="de" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success border-bottom border-4 border-warning">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">
            <img src="./img/logo.png"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item me-2">
                    <a class="nav-link" th:classappend="${#httpServletRequest.requestURI eq '/home' ? 'active' : ''}"
                       th:href="@{/home}">
                        <i class="bi bi-house-door-fill"></i> Home</a>
                </li>
                <li class="nav-item me-2" sec:authorize="hasAuthority('ADMIN') or hasAuthority('TEACHER')">
                    <a class="nav-link" th:classappend="${#httpServletRequest.requestURI eq '/tasks' ? 'active' : ''}"
                       href="#">
                        <i class="bi bi-clipboard-check-fill"></i> Aufgaben</a>
                </li>
                <li class="nav-item me-2" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:classappend="${#httpServletRequest.requestURI eq '/courses' ? 'active' : ''}"
                       href="#">
                        <i class="bi bi-collection-fill"></i> Kurse</a>
                </li>
                <li class="nav-item me-2" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:classappend="${#httpServletRequest.requestURI eq '/users' ? 'active' : ''}"
                       href="#">
                        <i class="bi bi-people-fill"></i> Benutzer</a>
                </li>
                <li class="nav-item me-2" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.requestURI eq '/statistics' ? 'active' : ''}" href="#">
                        <i class="bi bi-bar-chart-line-fill"></i> Statistik</a>
                </li>
                <li class="nav-item me-2" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.requestURI eq '/settings' ? 'active' : ''}" href="#">
                        <i class="bi bi-gear-fill"></i> Einstellungen</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-2">
                    <a class="nav-link" th:classappend="${#httpServletRequest.requestURI eq '/profile' ? 'active' : ''}"
                       href="#"><i class="bi bi-person-square"></i> Profil</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-link nav-link">
                            <i class="bi bi-power"></i> Abmelden
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>