<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fehler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{~/js/bootstrap.bundle.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{~/css/main.css}">
    <div th:replace="fragments/favicon"></div>
</head>
<body><div class="m-3 card shadow">
    <div class="card-body text-center m-5">
        <div class="xxl-icon mb-4 text-danger">
            <i class="bi bi-emoji-frown-fill"></i>
        </div>
        <h5 class="card-title mb-4">
            Ohje, etwas ist schiefgegangen.
        </h5>
        <div class="row mb-4">
            <div class="col-12">Vielleicht kannst du ja mit dieser Fehlermeldung etwas anfangen:
                <div class="text-danger">[[${error}]]</div>
            </div>
        </div>
        <div>
            <a onclick="window.history.back()" class="btn btn-primary me-2">Einen Schritt zurück</a>
            <a th:href="${'/home'}" class="btn btn-secondary">Zur Startseite</a>
        </div>
    </div>
</div>
<h1></h1>
</body>