<!DOCTYPE html>
<html lang="de"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Hilfe</title>
</head>
<body>
<div layout:fragment="title-image">
    <h2 class="mb-0 py-4 text-center bg-secondary bg-gradient text-white rounded-top">
        <i class="bi bi-question-circle me-1"></i>
        Benötigst du Hilfe? Schaue dir einfach die Video-Tutorials an.
    </h2>
</div>
<div layout:fragment="content">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="students-tab" data-bs-toggle="tab" data-bs-target="#students"
                    type="button" role="tab" aria-controls="students" aria-selected="true">Schülerinnen und Schüler
            </button>
        </li>
        <li class="nav-item" role="presentation" sec:authorize="hasAuthority('ADMIN') or hasAuthority('TEACHER')">
            <button class="nav-link" id="teacher-tab" data-bs-toggle="tab" data-bs-target="#teacher" type="button"
                    role="tab" aria-controls="teacher" aria-selected="false">Lehrkräfte
            </button>
        </li>
        <li class="nav-item" role="presentation"
            sec:authorize="hasAuthority('ADMIN') or hasAuthority('USERS') or hasAuthority('COURSES')">
            <button class="nav-link" id="admin-tab" data-bs-toggle="tab" data-bs-target="#admin" type="button"
                    role="tab" aria-controls="admin" aria-selected="false">Admins
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active border border-top-0 p-3" id="students" role="tabpanel"
             aria-labelledby="students-tab">
            <div class="d-flex flex-row flex-wrap">
                <div class="m-2 mb-4">
                    <h5>Arbeiten mit Digi4Docs für Schülerinnen und Schüler</h5>
                    <div style="width:560px">
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Kurse</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Aufgaben</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Fortschritt</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Zertifikat</span>
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/KKmKIXTJZ14"
                            title="Video: Arbeiten mit Digi4Docs für Schülerinnen und Schüler"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="m-2">
                    <h5>Screenshot erstellen und einbinden</h5>
                    <div style="width:560px">
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Screenshots</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Bildschirmfotos</span>
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/8Qw6f6S6RqU"
                            title="Video: Screenshot erstellen und einbinden"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="m-2">
                    <h5>Videos aufzeichnen und einbinden</h5>
                    <div style="width:560px">
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Screencast</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Videoaufzeichnung</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Film</span>
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ml9kt3-tWK4"
                            title="Video: Videos aufzeichnen und einbinden"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="m-2">
                    <h5>Videos bearbeiten und verkleinern</h5>
                    <div style="width:560px">
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Videoschnitt</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Upload-Begrenzung</span>
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sD0I6Yn5W1s"
                            title="Video: Videos bearbeiten und verkleinern"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="tab-pane fade border border-top-0 p-3" id="teacher" role="tabpanel" aria-labelledby="teacher-tab"
             sec:authorize="hasAuthority('ADMIN') or hasAuthority('TEACHER')">
            <div class="m-2">
                <h5>Arbeiten mit Digi4Docs für Lehrerinnen und Lehrer</h5>
                <div style="width:560px">
                    <span class="badge rounded-pill bg-secondary me-2 mb-2">Bewertung</span>
                    <span class="badge rounded-pill bg-secondary me-2 mb-2">Gruppen-Bearbeitung</span>
                </div>
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Tw-Qde9uLdA"
                        title="Video: Arbeiten mit Digi4Docs für Lehrerinnen und Lehrer"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="tab-pane fade border border-top-0 p-3" id="admin" role="tabpanel" aria-labelledby="admin-tab"
             sec:authorize="hasAuthority('ADMIN') or hasAuthority('USERS') or hasAuthority('COURSES')">
            <div class="d-flex flex-row flex-wrap">
                <div class="m-2">
                    <h5>Benutzerverwaltung</h5>
                    <div style="width:560px">
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Benutzer anlegen</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Import</span>
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9maM8472yBs"
                            title="Video: Benutzerverwaltung"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="m-2">
                    <h5>Kursverwaltung</h5>
                    <div style="width:560px">
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Kurse</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Module</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Aufgaben</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Bildquellen</span>
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/8Sz1rR2IdvE"
                            title="Video: Kursverwaltung"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="m-2">
                    <h5>Badges</h5>
                    <div style="width:560px">
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Badges</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Auszeichnungen</span>
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eaP1GZTvizA"
                            title="Video: Badges"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="m-2">
                    <h5>Zertifikate</h5>
                    <div style="width:560px">
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Druckansicht</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Druckkonfiguration</span>
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/WlCO8sht5Pk"
                            title="Video: Zertifikate"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="m-2">
                    <h5>Fortschritte und Statistik</h5>
                    <div style="width:560px">
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Fortschrittsanzeige</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Statistik-Export</span>
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-Yb0SfPijy4"
                            title="Video: Fortschritte und Statistik"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="m-2">
                    <h5>Einstellungen</h5>
                    <div style="width:560px">
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Fächer verwalten</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Email-Konfiguration</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Institution</span>
                        <span class="badge rounded-pill bg-secondary me-2 mb-2">Letze Seite Zertifikate</span>
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dna1yd-ZQaA"
                            title="Video: Einstellungen"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>