<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <title>Start</title>
</head>
<body>
<div layout:fragment="title-image">
    <img th:src="@{~/img/home-title.jpg}" class="card-img-top"/>
</div>
<div layout:fragment="title">
    <h2 class="mb-3">
        <i class="bi bi-sun"></i>
        Herzlich Willkommen, [[${currentUser.firstname}]] [[${currentUser.lastname}]]!
        <i class="bi bi-sun"></i>
    </h2>
</div>
<div layout:fragment="content">
    <div class="row" sec:authorize="hasAuthority('STUDENT')">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Meine Kurse</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Alle Kurse</h5>
                    <div class="card-text">
                        <div th:each="course, itStat: ${courses}" class="p-2">
                            <div class="d-flex">
                                <div th:if="${!#strings.isEmpty(course.icon)}">
                                    <i th:classappend="${course.icon}" class="me-3 icon"></i>
                                </div>
                                <div class="flex-grow-1">
                                    <div class="d-block fw-bold">[[ ${course.title} ]]</div>
                                    <div class="d-block text-secondary">[[ ${#lists.size(course.modules) }]]
                                        Kurseinheiten
                                    </div>
                                </div>
                                <div>
                                    <a th:href="@{'/public/course/' + ${course.id}}" class="btn btn-outline-secondary">
                                        <i class="bi bi-eye-fill"></i>
                                        Ansehen
                                    </a>
                                </div>
                            </div>
                            <hr class="mb-1" th:if="${!itStat.last}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>