<!DOCTYPE html>
<html lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Digi4Docs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow"/>
    <script th:src="@{~/js/bootstrap.bundle.js}" type="text/javascript"></script>
    <script th:src="@{~/js/jquery/jquery-3.6.0.min.js}" type="text/javascript"></script>
    <script th:src="@{~/js/jquery/jquery.dataTables.min.js}" type="text/javascript"></script>
    <script th:src="@{~/js/jquery/dataTables.bootstrap5.min.js}" type="text/javascript"></script>

    <script th:src="@{~/js/main.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{~/css/main.css}"/>
    <link rel="stylesheet" th:href="@{~/css/dataTables.bootstrap5.min.css}"/>
    <div th:replace="fragments/favicon"></div>
</head>

<body sec:authorize="isAuthenticated()">
<div th:replace="fragments/navbar"></div>
<div th:if="${null != breadcrumbs}">
    <div th:insert="fragments/breadcrumbs" class="d-print-none"></div>
</div>
<div class="m-3 card shadow">
    <div layout:fragment="title-image"></div>
    <div class="card-body">
        <h5 class="card-title">
            <div layout:fragment="title"></div>
        </h5>
        <div layout:fragment="content"></div>
    </div>
</div>
</body>