<!DOCTYPE html>
<html lang="de">
<body>
<div th:each="module, itStat: ${modules}"
     th:classappend="${emptyModules.contains(module.id) ? 'print-empty-task' : ''}">
    <div th:classappend="${outerloop ? (0 == itStat.index ? 'print-first-page-break' : 'print-page-break')  : ''}"></div>
    <div class="text-center my-4">
        <div th:if="${module.icon}" class="certificate-icon position-relative">
            <div th:if="${!#strings.isEmpty(module.badgeText)}"
                 class="position-absolute w-100 me-auto ms-auto certificate-badge-text h4 pb-0">
                <span class="badge text-wrap mx-1 text-secondary border"
                      th:style="${module.badgeHasBorder eq true and !#strings.isEmpty(module.color) ? 'background-color:' + module.color + '!important;' : '' }"
                      th:classappend="${module.badgeHasBorder eq true ? 'border-2 border-light text-white bg-secondary': 'bg-light'}">[[${module.badgeText}]]</span>
            </div>
            <i th:class="${module.icon}"
               th:style="${!#strings.isEmpty(module.color) ? 'color:' + module.color : ''}"></i>
        </div>
        <h6 class="text-muted">[[${module.title}]]</h6>
        <h3 class="text-uppercase" th:if="${!#strings.isEmpty(module.subTitle)}">[[${module.subTitle}]]</h3>
    </div>
    <hr class="border border-2"/>
    <div th:if="${#lists.size(module.tasks)} > 0" th:each="task:${module.tasks}" class="avoid-break w-100">
        <div class="border border-2 rounded-3 p-3 mb-3 bg-white mx-3"
             th:classappend="${null != userTaskMap.get(task.id)  ? '' : 'print-empty-task'}">
            <h5>[[${task.title}]]</h5>
            <div class="fw-bold mt-3 mb-2">Wann und wie habe ich das gelernt oder geübt?</div>
            <div class="row">
                <div class="col-3 fst-italic">Fach & Datum:</div>
                <div class="col-9">
                    <span th:if="${null != userTaskMap.get(task.id)}">
                        am [[ ${#temporals.format(userTaskMap.get(task.id).date, 'dd.MM.yyyy')} ]] in
                        [[${userTaskMap.get(task.id).subject.name}]]
                        (bei [[${userTaskMap.get(task.id).teacher.firstname}]]
                        [[${userTaskMap.get(task.id).teacher.lastname}]])
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 fst-italic">Lernaufgabe / Projekt:</div>
                <div class="col-9">
                    <span th:if="${null != userTaskMap.get(task.id)}">
                        [(${#strings.replace(#strings.escapeXml(userTaskMap.get(task.id).solution),'&#10;','&lt;br&gt;')})]
                    </span>
                </div>
            </div>
            <div class="row print-image mt-2"
                 th:if="${null != userTaskMap.get(task.id) and null != userTaskMap.get(task.id).file and userTaskMap.get(task.id).file.type.startsWith('image/')}">
                <img th:src="@{'/public/file/' + ${userTaskMap.get(task.id).file.id}}"/>
            </div>
        </div>
    </div>
    <div th:if="${#lists.size(module.modules) > 0}"
         th:replace="certificate/modules(modules=${module.modules},outerloop=false)"></div>
</div>
</body>