@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?5tdn4j');
    src:  url('../fonts/icomoon.eot?5tdn4j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5tdn4j') format('truetype'),
    url('../fonts/icomoon.woff?5tdn4j') format('woff'),
    url('../fonts/icomoon.svg?5tdn4j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class*="ccicon-"] {
    font-family: 'icomoon' !important;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.ccicon-cc-badge-0:before {
    content: "\e900";
}
.ccicon-cc-badge-1:before {
    content: "\e901";
}
.ccicon-cc-badge-2:before {
    content: "\e902";
}
.ccicon-cc-badge-3:before {
    content: "\e903";
}
.ccicon-cc-badge-4:before {
    content: "\e904";
}
.ccicon-cc-badge-5:before {
    content: "\e905";
}
.ccicon-cc-badge-6:before {
    content: "\e906";
}
.ccicon-cc-badge-7:before {
    content: "\e907";
}
